.logmain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 250px;
  }
  
  .logbut {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .logbut:hover {
    background-color: #0056b3;
  }
  
  .register-link {
    text-decoration: none;
    color: #007bff;
    margin-top: 10px;
    font-size: 14px;
  }